{% extends '../base.html' %}

{% block title %}Add Interest Form{% endblock %}

{% block style %}
<style>
  .flex-container {
    display: flex;
    justify-content: center; /* Center content horizontally */
    gap: 20px; /* Add gap between boxes */
    width: 1000px;
    margin-left: 150px;
  }
  .form-row {
    flex: 1; 
    margin-right: 10px;
    background-color: rgb(148, 149, 192,0.8); 
    padding: 20px; 
    border-radius: 10px; 
  }
  .form-row > form {
    width: 80%;
  }
  label {
    font-size: 16px; 
  }
  input[type="text"],
  input[type="date"],
  input[type="file"] {
    width: 60%; /* Make input fields take up full width */
    padding: 5px; /* Increase input field padding for spacing */
    font-size: 16px; /* Increase input text size */
    margin-top: 10px; /* Add some margin for spacing */
    box-sizing: border-box; /* Include padding and border in the width */
  }
  button[type="submit"] {
    padding: 10px 20px; /* Increase button padding for spacing */
    font-size: 16px; /* Increase button text size */
    margin-top: 10px; /* Add margin for spacing */
    cursor: pointer; /* Show pointer cursor on hover */
    background-color: #007bff; /* Set button background color */
    color: white; /* Set button text color */
    border: none; /* Remove button border */
    border-radius: 5px; /* Add rounded corners */
  }
  button[type="submit"]:hover {
    background-color: #0056b3; /* Darker background color on hover */
  }
</style>
{% endblock %}


{% block content %}
<div class="flex-container">
  <div class="form-row">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <h1>Add Bank Interest</h1>
      <div>
        <label for="id_bank_name">Bank Name:</label>
        <input type="text" name="bank_name">
      </div>
      <div>
        <label for="id_deposit_type">Deposit Type:</label>
        <input type="text" name="deposit_type">
      </div>
      <div>
        <label for="id_interest_rate">Interest Rate:</label>
        <input type="text" name="interest_rate">
      </div>
      <div>
        <label for="id_from_date">From Date:</label>
        <input type="date" name="from_date">
      </div>
      <button type="submit">Submit</button>
    </form>

    {% if messages %}
    <div class="messages">
      {% for message in messages %}
      <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
        {{ message }}
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>

  <div class="form-row">
    <h1>Upload Bank Interest Rates CSV</h1>
    <form method="post" enctype="multipart/form-data" action="{% url 'upload_bank_interest_csv' %}">
        {% csrf_token %}
        <input type="file" name="csv_file" accept=".csv" required>
        <button type="submit">Upload</button>
    </form>
  </div>
</div>
{% endblock %}